In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
os.chdir(os.path.dirname(os.getcwd()))
os.chdir(os.path.dirname(os.getcwd()))
os.chdir('Data')

In [3]:
a = pd.read_csv('Unemployment.csv')
a.columns = ['FIPS', 'State', 'County', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
            '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
            '2018', '2019', '2020']
b = pd.melt(a, id_vars = ['FIPS', 'State', 'County'], value_vars = ['2000', '2001', '2002', '2003', '2004', '2005', '2006',
            '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
            '2018', '2019', '2020'])
b.columns = ['FIPS', 'State', 'County', 'Year', 'Unemployment_rate']
b.to_csv('unemployment_clean.csv', index = False)

In [4]:
df = pd.read_csv('unemployment_clean.csv')
df = df.drop('State', axis = 1)
df.columns = ['County Code', 'County', 'Year', 'Unemployment_rate']
unemploy = df[['County Code', 'Year', 'Unemployment_rate']]
od_deaths_df = pd.read_csv('od_deaths.csv')
opioid_df = pd.read_csv('opioid_dispense.csv')
dispenses = opioid_df[['Year', 'FIPS', 'dispenserate100']]
dispenses.columns = ['Year', 'County Code', 'Dispense_rate']

In [5]:
eth_age = pd.read_csv('ethnicity_age.csv')
eth_age2 = eth_age.drop(['State', 'County', 'COUNTY', 'STATE'], axis = 1)
eth_age3 = eth_age2.rename(columns = {'County_Code': 'County Code'})

In [6]:
merged = od_deaths_df.merge(unemploy, on = ['County Code', 'Year'], how = 'left')
merged2 = merged.merge(dispenses, on = ['County Code', 'Year'], how = 'left')
merged3 = merged2.merge(eth_age3, on = ['County Code', 'Year'], how = 'left')

In [7]:
northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Pennsylvania']
midwest = ['Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota']
south = ['Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina', 'Virginia', 'Washington, D.C.', 'West Virginia', 'Alabama', 'Kentucky', 'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma', 'Texas', 'District of Co']
west = ['Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah', 'Wyoming', 'Alaska', 'California', 'Hawaii', 'Oregon', 'Washington']
merged3['Region'] = np.where(merged3['State'].isin(northeast), 'Northeast', 'none')
merged3['Region'] = np.where(merged3['State'].isin(midwest), 'Midwest', merged3['Region'])
merged3['Region'] = np.where(merged3['State'].isin(south), 'South', merged3['Region'])
merged3['Region'] = np.where(merged3['State'].isin(west), 'West', merged3['Region'])
merged3[merged3['Region'] == 'none']

,Unnamed: 0,Year,State,State Abv,State Code,County,County Code,Deaths,Population,Crude Rate,...,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE,Region
66,66,1999.0,District of Columbia,DC,11.0,"District of Columbia, DC",11001.0,48.0,570220.0,8.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none
366,366,2000.0,District of Columbia,DC,11.0,"District of Columbia, DC",11001.0,76.0,572059.0,13.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none
691,691,2001.0,District of Columbia,DC,11.0,"District of Columbia, DC",11001.0,93.0,574504.0,16.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none
1071,1071,2002.0,District of Columbia,DC,11.0,"District of Columbia, DC",11001.0,61.0,573158.0,10.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none
1517,1517,2003.0,District of Columbia,DC,11.0,"District of Columbia, DC",11001.0,103.0,568502.0,18.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157309,13870,2019.0,District of Columbia,DC,11.0,"District of Columbia, DC",11001.0,311.0,705749.0,44.07,...,349.0,14.0,11.0,86.0,179.0,8855.0,11836.0,527.0,746.0,none
157310,13870,2019.0,District of Columbia,DC,11.0,"District of Columbia, DC",11001.0,311.0,705749.0,44.07,...,258.0,4.0,13.0,63.0,112.0,5835.0,8399.0,286.0,490.0,none
157311,13870,2019.0,District of Columbia,DC,11.0,"District of Columbia, DC",11001.0,311.0,705749.0,44.07,...,146.0,3.0,3.0,13.0,64.0,3696.0,5655.0,184.0,337.0,none
157312,13870,2019.0,District of Columbia,DC,11.0,"District of Columbia, DC",11001.0,311.0,705749.0,44.07,...,179.0,2.0,1.0,26.0,74.0,3944.0,7820.0,160.0,318.0,none
173887,14857,2020.0,District of Columbia,DC,11.0,"District of Columbia, DC",11001.0,424.0,712816.0,59.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none

In [8]:
merged3.to_csv('od_deaths_merged.csv', index = False)