In [1]:
# Import libraries
import numpy as np
import pandas as pd
import geopandas as gpd
import libpysal as ps
import matplotlib.pyplot as plt
import matplotlib as mpl

#For basemap:
import contextily as cx

#For regression:
import statsmodels.api as sm
import numpy as np
from patsy import dmatrices

import esda as esda
from esda.moran import Moran_Local
import splot as splot

#Plot spatial weights:
from libpysal.weights.contiguity import Queen
from splot.libpysal import plot_spatial_weights
from splot.esda import moran_scatterplot, plot_moran
from splot.esda import plot_local_autocorrelation

# For GWR
from mgwr.gwr import GWR, MGWR
from mgwr.sel_bw import Sel_BW
from mgwr.utils import compare_surfaces, truncate_colormap

/Users/meera/opt/anaconda3/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
def standardize(raw_data):
    return ((raw_data - np.mean(raw_data, axis = 0)) / np.std(raw_data, axis = 0))

In [3]:
geogon_od = pd.read_csv('geogon_od.csv')
geogon_od 

# Rename our columns to have spaces 
geogon_od.columns = ['Year', 'FIPS', 'State', 'County', 'Deaths', 'Population', 'Crude_Rate',
       'Cruder_Rate', 'Deathrate_per_100', 'Unemployment_rate',
       'Dispense_rate', 'SUMLEV', 'AGEGRP', 'TOT_POP', 'TOT_MALE',
       'TOT_FEMALE', 'WA_MALE', 'WA_FEMALE', 'BA_MALE', 'BA_FEMALE', 'IA_MALE',
       'IA_FEMALE', 'AA_MALE', 'AA_FEMALE', 'NA_MALE', 'NA_FEMALE', 'TOM_MALE',
       'TOM_FEMALE', 'NH_MALE', 'NH_FEMALE', 'H_MALE', 'H_FEMALE',
       'Urbanicity', 'Jail_Population', 'Incarceration_Rate_per_100k',
       'PovertyCount', 'PovertyPercentage', 'MedianHHI', 'Latitude',
       'Longitude', 'geometry']


#
nonnum_features = ['Year', 'FIPS', 'State', 'County', 'Urbanicity', 'Latitude',
                   'Longitude', 'geometry']
stzd_geogon = standardize(geogon_od.drop(nonnum_features, axis = 1))
stzd_geogon[nonnum_features] = geogon_od[nonnum_features]
stzd_geogon





# Convert to geopandas 
# geogon_od = gpd.GeoDataFrame(geogon_od)
stzd_geogon['geometry'] = gpd.GeoSeries.from_wkt(stzd_geogon['geometry'])
stzd_geogon = gpd.GeoDataFrame(stzd_geogon, geometry = 'geometry')


# Convert FIPS to string 
geogon_od['FIPS'] = geogon_od['FIPS'].astype(str).str.zfill(5)

stzd_geogon['FIPS'] = stzd_geogon['FIPS'].astype(str).str.zfill(5)
stzd_geogon.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 15896 entries, 0 to 15895
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   AA_FEMALE                    8835 non-null   float64
 1   AA_MALE                      8835 non-null   float64
 2   AGEGRP                       0 non-null      float64
 3   BA_FEMALE                    8835 non-null   float64
 4   BA_MALE                      8835 non-null   float64
 5   Crude_Rate                   0 non-null      object
 6   Cruder_Rate                  15896 non-null  float64
 7   Deathrate_per_100            15896 non-null  float64
 8   Deaths                       15896 non-null  float64
 9   Dispense_rate                12810 non-null  float64
 10  H_FEMALE                     8835 non-null   float64
 11  H_MALE                       8835 non-null   float64
 12  IA_FEMALE                    8835 non-null   float64
 13  IA_MALE                      8835 non-null   float64
 14  Incarceration_Rate_per_100k  14022 non-null  float64
 15  Jail_Population              14022 non-null  float64
 16  MedianHHI                    15896 non-null  float64
 17  NA_FEMALE                    8835 non-null   float64
 18  NA_MALE                      8835 non-null   float64
 19  NH_FEMALE                    8835 non-null   float64
 20  NH_MALE                      8835 non-null   float64
 21  Population                   15896 non-null  float64
 22  PovertyCount                 15896 non-null  float64
 23  PovertyPercentage            15896 non-null  float64
 24  SUMLEV                       0 non-null      float64
 25  TOM_FEMALE                   8835 non-null   float64
 26  TOM_MALE                     8835 non-null   float64
 27  TOT_FEMALE                   8835 non-null   float64
 28  TOT_MALE                     8835 non-null   float64
 29  TOT_POP                      8835 non-null   float64
 30  Unemployment_rate            15583 non-null  float64
 31  WA_FEMALE                    8835 non-null   float64
 32  WA_MALE                      8835 non-null   float64
 33  Year                         15896 non-null  float64
 34  FIPS                         15896 non-null  object
 35  State                        15896 non-null  object
 36  County                       15896 non-null  object
 37  Urbanicity                   14446 non-null  object
 38  Latitude                     15896 non-null  float64
 39  Longitude                    15896 non-null  float64
 40  geometry                     15896 non-null  geometry
dtypes: float64(35), geometry(1), object(5)
memory usage: 5.0+ MB

In [4]:
print(stzd_geogon.columns)

Index(['AA_FEMALE', 'AA_MALE', 'AGEGRP', 'BA_FEMALE', 'BA_MALE', 'Crude_Rate',
       'Cruder_Rate', 'Deathrate_per_100', 'Deaths', 'Dispense_rate',
       'H_FEMALE', 'H_MALE', 'IA_FEMALE', 'IA_MALE',
       'Incarceration_Rate_per_100k', 'Jail_Population', 'MedianHHI',
       'NA_FEMALE', 'NA_MALE', 'NH_FEMALE', 'NH_MALE', 'Population',
       'PovertyCount', 'PovertyPercentage', 'SUMLEV', 'TOM_FEMALE', 'TOM_MALE',
       'TOT_FEMALE', 'TOT_MALE', 'TOT_POP', 'Unemployment_rate', 'WA_FEMALE',
       'WA_MALE', 'Year', 'FIPS', 'State', 'County', 'Urbanicity', 'Latitude',
       'Longitude', 'geometry'],
      dtype='object')

In [5]:
"Cruder_Rate ~ AA_FEMALE + AA_MALE + BA_FEMALE + BA_MALE + \
H_FEMALE + H_MALE + IA_FEMALE + IA_MALE + NA_FEMALE + NA_MALE + NH_FEMALE + NH_MALE + \
TOM_FEMALE + TOM_MALE + WA_FEMALE + WA_MALE + \
Unemployment_rate + Dispense_rate + Incarceration_Rate_per_100k + PovertyPercentage + MedianHHI"

'Cruder_Rate ~ AA_FEMALE + AA_MALE + BA_FEMALE + BA_MALE + H_FEMALE + H_MALE + IA_FEMALE + IA_MALE + NA_FEMALE + NA_MALE + NH_FEMALE + NH_MALE + TOM_FEMALE + TOM_MALE + WA_FEMALE + WA_MALE + Unemployment_rate + Dispense_rate + Incarceration_Rate_per_100k + PovertyPercentage + MedianHHI'

In [6]:
stzd_geogon15 = stzd_geogon[stzd_geogon['Year'] == 2015]

y, X = dmatrices("Cruder_Rate ~ AA_FEMALE + AA_MALE + BA_FEMALE + BA_MALE + \
H_FEMALE + H_MALE + IA_FEMALE + IA_MALE + NA_FEMALE + NA_MALE + NH_FEMALE + NH_MALE + \
TOM_FEMALE + TOM_MALE + WA_FEMALE + WA_MALE + \
Unemployment_rate + Dispense_rate + Incarceration_Rate_per_100k + PovertyPercentage + MedianHHI", 
                 data=stzd_geogon15, return_type='dataframe')
mod = sm.OLS(y, X)
res = mod.fit()
residuals = res.resid
predicted = res.fittedvalues
observed = y
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Cruder_Rate   R-squared:                       0.238
Model:                            OLS   Adj. R-squared:                  0.221
Method:                 Least Squares   F-statistic:                     13.75
Date:                Wed, 16 Mar 2022   Prob (F-statistic):           3.91e-38
Time:                        22:29:30   Log-Likelihood:                -1016.2
No. Observations:                 857   AIC:                             2072.
Df Residuals:                     837   BIC:                             2167.
Df Model:                          19
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       0.1299      0.036      3.579      0.000       0.059       0.201
AA_FEMALE                       1.0095      0.884      1.142      0.254      -0.725       2.744
AA_MALE                        -0.8754      0.858     -1.020      0.308      -2.560       0.809
BA_FEMALE                       0.3566      1.090      0.327      0.744      -1.783       2.496
BA_MALE                        -0.4984      1.110     -0.449      0.654      -2.677       1.680
H_FEMALE                       -0.0408      1.082     -0.038      0.970      -2.164       2.083
H_MALE                         -0.0680      1.106     -0.061      0.951      -2.239       2.103
IA_FEMALE                       0.5509      0.764      0.721      0.471      -0.948       2.050
IA_MALE                        -0.6813      0.816     -0.835      0.404      -2.282       0.920
NA_FEMALE                       0.5390      1.220      0.442      0.659      -1.856       2.934
NA_MALE                        -0.5662      1.263     -0.448      0.654      -3.045       1.913
NH_FEMALE                      -0.5878      0.996     -0.590      0.555      -2.542       1.367
NH_MALE                         0.8293      1.063      0.780      0.436      -1.258       2.916
TOM_FEMALE                      1.5772      1.624      0.971      0.332      -1.611       4.765
TOM_MALE                       -1.8101      1.681     -1.077      0.282      -5.109       1.489
WA_FEMALE                      -0.9697      0.929     -1.044      0.297      -2.793       0.853
WA_MALE                         1.0911      0.936      1.165      0.244      -0.747       2.929
Unemployment_rate               0.2098      0.050      4.170      0.000       0.111       0.309
Dispense_rate                   0.3336      0.044      7.544      0.000       0.247       0.420
Incarceration_Rate_per_100k    -0.0513      0.033     -1.537      0.125      -0.117       0.014
PovertyPercentage               0.0305      0.052      0.588      0.556      -0.071       0.132
MedianHHI                      -0.1427      0.056     -2.549      0.011      -0.253      -0.033
==============================================================================
Omnibus:                      479.578   Durbin-Watson:                   1.440
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5915.120
Skew:                           2.284   Prob(JB):                         0.00
Kurtosis:                      15.033   Cond. No.                     1.03e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.21e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [7]:
stzd_geogon15.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 886 entries, 9952 to 10837
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   AA_FEMALE                    886 non-null    float64
 1   AA_MALE                      886 non-null    float64
 2   AGEGRP                       0 non-null      float64
 3   BA_FEMALE                    886 non-null    float64
 4   BA_MALE                      886 non-null    float64
 5   Crude_Rate                   0 non-null      object
 6   Cruder_Rate                  886 non-null    float64
 7   Deathrate_per_100            886 non-null    float64
 8   Deaths                       886 non-null    float64
 9   Dispense_rate                886 non-null    float64
 10  H_FEMALE                     886 non-null    float64
 11  H_MALE                       886 non-null    float64
 12  IA_FEMALE                    886 non-null    float64
 13  IA_MALE                      886 non-null    float64
 14  Incarceration_Rate_per_100k  857 non-null    float64
 15  Jail_Population              857 non-null    float64
 16  MedianHHI                    886 non-null    float64
 17  NA_FEMALE                    886 non-null    float64
 18  NA_MALE                      886 non-null    float64
 19  NH_FEMALE                    886 non-null    float64
 20  NH_MALE                      886 non-null    float64
 21  Population                   886 non-null    float64
 22  PovertyCount                 886 non-null    float64
 23  PovertyPercentage            886 non-null    float64
 24  SUMLEV                       0 non-null      float64
 25  TOM_FEMALE                   886 non-null    float64
 26  TOM_MALE                     886 non-null    float64
 27  TOT_FEMALE                   886 non-null    float64
 28  TOT_MALE                     886 non-null    float64
 29  TOT_POP                      886 non-null    float64
 30  Unemployment_rate            886 non-null    float64
 31  WA_FEMALE                    886 non-null    float64
 32  WA_MALE                      886 non-null    float64
 33  Year                         886 non-null    float64
 34  FIPS                         886 non-null    object
 35  State                        886 non-null    object
 36  County                       886 non-null    object
 37  Urbanicity                   882 non-null    object
 38  Latitude                     886 non-null    float64
 39  Longitude                    886 non-null    float64
 40  geometry                     886 non-null    geometry
dtypes: float64(35), geometry(1), object(5)
memory usage: 290.7+ KB

In [11]:
#Now that we have the model we will calculate Morrison I !! 
# we pull out the counties 

# stzd_geogon15 = stzd_geogon15.drop(['AGEGRP', 'Crude_Rate', 'SUMLEV'], axis = 1)
# stzd_geogon15 = stzd_geogon15.dropna()
stzd_geogon15 = stzd_geogon15.reset_index(drop = True)
w = Queen.from_dataframe(stzd_geogon15)

stzd_geogon15_2 = stzd_geogon15.drop(w.islands)
w2 = Queen.from_dataframe(stzd_geogon15_2)

y2 = y.reset_index(drop = True)
y3 = y2.drop(w.islands)
moran = esda.Moran(y3, w2)
moran.I

/Users/meera/opt/anaconda3/lib/python3.8/site-packages/libpysal/weights/weights.py:172: UserWarning: The weights matrix is not fully connected:
 There are 105 disconnected components.
 There are 51 islands with ids: 6, 12, 30, 97, 102, 119, 144, 173, 174, 177, 178, 204, 228, 229, 230, 232, 233, 250, 262, 280, 281, 310, 334, 344, 357, 360, 362, 363, 383, 387, 395, 397, 435, 450, 553, 658, 662, 673, 700, 717, 739, 744, 751, 752, 754, 755, 794, 819, 832, 841, 843.
  warnings.warn(message)
/Users/meera/opt/anaconda3/lib/python3.8/site-packages/libpysal/weights/weights.py:172: UserWarning: The weights matrix is not fully connected:
 There are 54 disconnected components.
  warnings.warn(message)

0.514680965386146

Here we are veryifing that under the null hypothesis